<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @income.date %>
</p>

<p>
  <strong>Client:</strong>
  <% if @income.client != nil %>
  <%= @income.client.name %>
  <% end %>
</p>

<p>
  <strong>Cashsales:</strong>
  <%= @income.cashSales %>
</p>

<p>
  <strong>Hst:</strong>
  <%= @income.hst %>
</p>

<p>
  <strong>Totalsales:</strong>
  <%= @income.totalSales %>
</p>

<p>
  <strong>Paymentonaccount:</strong>
  <%= @income.paymentOnAccount %>
</p>


<p>
  <strong>Salesreturns:</strong>
  <%= @income.salesReturns %>
</p>

<p>
  <strong>Note:</strong>
  <%= @income.note %>
</p>


<%= link_to 'Edit', edit_income_path(@income), class: "btn btn-default" %> |
<%= link_to 'Back', incomes_path, class: "btn btn-default" %>
