<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Note</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Hst</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.note %></td>
        <td><%= expense.date %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.hst %></td>
        <td><% if expense.category != nil %>
		<%= expense.category.name %>
	    <% end %>
	</td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-primary"><%= link_to 'New Expense', new_expense_path %></button>
