


<!DOCTYPE html>
<html>
<head>
  <title>TaxApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Incomes", incomes_path %></li>
  <li role="presentation"><%= link_to "Expenses", expenses_path %></li>
  <li role="presentation"><%= link_to "Clients", clients_path %></li>
  <li role="presentation"><%= link_to "Categories", categories_path %></li>
  <li role="presentation"><%= link_to "Login", login_path %></li>
  <li role="presentation"><%= link_to "Sign up", signup_path %></li>
</ul>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
