


<!DOCTYPE html>
<html>
<head>
  <title>TaxApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<ul class="nav nav-tabs">
  <li role="presentation" class="dropdown">
    <%= link_to "Incomes", incomes_path %>
    <%= link_to "Expenses", expenses_path %>
    <%= link_to "Categories", categories_path, class: "dropdown-toggle" %>
    <ul class="dropdown-menu" role="menu">
    	    <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
    </ul>
  </li>
</ul>


<%= yield %>

</body>
</html>
